:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  background-color: rgb(212 212 216);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


